* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

header{
    position: relative;
    top: 0px;
    left: 0px;
    background-color: violet;
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    text-align: center;
    
}

.subtopo2 {
    display: inline-block;
    position: fixed;
    background-color: rgb(255, 255, 95);
    right: -10px;
    width: 40%;
    padding: 10px;
    height: 50px;
    top: -10px;
    z-index: 1;
}


main{
    border: 2px dashed black;
    margin: 10px;
    background-color: rgb(168, 156, 156);
    
}

.circulo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e74c3c;
    color: white;
    font-family: sans-serif;
    
    position: relative;
    left: 60px;
    bottom: 10px;

    display: flex;
    align-items: center;     
    justify-content: center; 

    text-align: center;
    padding: 10px; 
    box-sizing: border-box; 
}


.quadrado{
    display: inline-block;
    background-color: olivedrab;
    color: white;
    width: 200px;
    padding: 5px;

    position: relative;
    left: 300px;
    bottom: -100px;
}

.retangulo{
    background-color: rgb(194, 94, 94);
    width: 70%;
    border-radius: 3px;
    
    left: 90px;
    margin: 20px 0px;
    padding: 5px;
    

    position: relative;


}


footer{
    position: relative;
    top: 500px;
    text-align: center;
    background-color: black;
    color: white;
}