body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    box-sizing: border-box;
}

#voltar {
    margin-top: 10px;
}
